
<h1>Welcome to the Appointment Page</h1>
<div>
<h3><%= link_to "Physicians List", controller:physicians_path%></h3>
Current Number of Physicians:   <%= Physician.all.count.to_i %>

<h3><%= link_to "Patients List", controller:patients_path%></h3>
Current Number of Patients:     <%= Patient.all.count.to_i %>

<h3><%= link_to "Appointments List", controller:appointments_path%></h3>
Current Number of Appointments: <%= Appointment.all.count.to_i %>
</div>
