<p id="notice"><%= notice %></p>

<p>
  <strong>Patient_id:</strong>
  <%= @appointment.patient.name %>
</p>

<p>
  <strong>Physician_id:</strong>

  <%= @appointment.physician.name %>

</p>

<p>
  <strong>Appointment Date:</strong>
  <%= @appointment.appointmentdate %>
</p>

<%= image_tag @appointment.image_url.to_s %>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back ', appointments_path %>
